.correct {
  opacity: 1 !important;
}

.incorrect {
  opacity: 1 !important;
  color: red !important;
}

.incorrectSpace {
  @extend .incorrect;
  width: 10px;
}

.incorrectSpace::before {
  content: "_";
}
